@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #fff;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

/* NavBar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  color: #fff;
  opacity: 0.8;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0px;
  padding: 0 30px;
}

.navbar a {
  color: #fff;
  padding: 10px 20px;
  margin: 0 5px;
}

.navbar ul {
  display: flex;
}

.navbar a:hover {
  border-bottom: #28a745 2px solid;
}

.navbar .logo {
  font-weight: 400;
}

/* Header */
.hero {
  background: url("../images/home/showcase.jpg") no-repeat center center/cover;
  height: 100vh;
  position: relative;
  color: #fff;
}

.hero .slogan {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 0 20px;
}
.hero .slogan-h1 {
  font-size: 55px;
}

.hero .slogan-p {
  font-size: 23px;
  max-width: 600px;
  margin: 20px 0 30px;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.hero * {
  z-index: 10;
}

/*About: Icons */
.icons {
  background: #fff;
  padding: 30px;
}

.icons h3 {
  font-weight: bold;
  margin-bottom: 15px;
}

.icons i {
  background-color: #28a745;
  color: #fff;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 15px;
}

/* About: Solutions */
.about .column {
  width: 50%;
  background-color: #28a745;
}

.about .column-txt {
  padding: 30px;
}

.about .column-txt h2 {
  color: #fff;
  font-size: 40px;
  margin: 10px 0;
}

.cases {
  padding: 30px;
}

.grid-cases {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  flex-wrap: wrap;
}

.grid-row {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.grid-row div {
  height: 50%;
  margin: 5px 5px;
  text-align: center;
  color: #fff;
  overflow: hidden;
}

.grid-row div a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.blog .column {
  width: 50%;
  background-color: #0284d0;
}

.who-we-are {
  padding: 30px;
}

.professional-team {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}

.professional-team div {
  margin: 0 20px;
  text-align: center;
}

.professional-team img {
  border-radius: 50%;
}

.blog .column-txt h2 {
  color: #fff;
  font-size: 40px;
  margin: 10px 0;
}

.contact .column h1 {
  margin-bottom: 20px;
  color: #333;
  font-size: 40px;
}

.contact .column {
  width: 50%;
  background-color: #f4f4f4;
}

.contact .input {
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  border: none;
}

.send-button {
  padding: 10px;
  margin-top: 30px;
  width: 100%;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 3px;
}

.send-button:hover {
  cursor: pointer;
  background-color: #24883c;
}

footer {
  padding: 50px;
  text-align: center;
  background-color: #333;
}

footer .fas {
  margin: 0 20px;
  font-size: 38px;
  color: #fff;
}

footer .fas:hover {
  color: #28a745;
}

footer .copyright {
  color: #fff;
}

.blog-post {
  height: 30vh;
  background: url("../images/home/blog.jpg") no-repeat center center/cover;
}

.blog-post .slogan {
  font-size: 27px;
}

.blog-post-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  height: 100%;
  padding: 30px 30px;
}

.blog-post-content h1 {
  font-size: 40px;
  margin-bottom: 10px;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.blog-post-author {
  margin: 10px 0;
  font-size: 15px;
}

.blog-post-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blog-post-body img {
  min-width: 20vw;
  max-width: 25vw;
  border-radius: 50%;
  margin: 20px 0;
}

.blog-post-dark-bg .column {
  width: 50%;
}

.blog-post-light-bg .column {
  width: 50%;
}

.blog-post-light-bg * {
  color: #333;
  background-color: #f4f4f4;
}

.blog-post-dark-bg * {
  color: #f4f4f4;
  background-color: #333;
}

.blog-post-dark-bg h1 {
  color: #f4f4f4;
}

.blog-post-light-bg h1 {
  color: #333;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: 120px;
    padding: 20px;
  }

  .navbar a {
    padding: 10px 10px;
    margin: 0 3px;
  }

  .flex-items {
    flex-direction: column;
  }

  .grid-cases {
    flex-direction: column;
  }

  .grid-row {
    width: 100%;
  }

  .professional-team {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }

  .professional-team div {
    width: 80%;
  }
}
